POSTGRES_DB=patrol360
POSTGRES_USER=patrol360
POSTGRES_PASSWORD=patrol360_dev
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

REDIS_HOST=localhost
REDIS_PORT=6379

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

MINIO_ENDPOINT=http://localhost:9000
MINIO_CONSOLE=http://localhost:9001
MINIO_ROOT_USER=patrol360
MINIO_ROOT_PASSWORD=patrol360_dev_password
